<h1>Listing blobs</h1>

<table>
  <thead>
    <tr>
      <th>Digest</th>
      <th>Uri</th>
      <th>Size</th>
      <th>Mime</th>
      <th>Name</th>
      <th>Modified at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blobs.each do |blob| %>
      <tr>
        <td><%= blob.digest %></td>
        <td><%= blob.uri %></td>
        <td><%= blob.size %></td>
        <td><%= blob.mime %></td>
        <td><%= blob.name %></td>
        <td><%= blob.modified_at %></td>
        <td><%= link_to 'Show', blob %></td>
        <td><%= link_to 'Edit', edit_blob_path(blob) %></td>
        <td><%= link_to 'Destroy', blob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blob', new_blob_path %>
