<!DOCTYPE html>
<html>
<head>
    <title>Themis</title>
    <%= stylesheet_link_tag    'backend', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'backend', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Themis</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to 'Themis', '#', class: 'navbar-brand' %>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><%= link_to 'Timesheets', timesheets_path %></li>
                <li><%= link_to 'Todos', tasks_path %></li>
                <li><%= link_to 'WebFS', blobs_path %></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <%= yield %>
</div>

</body>
</html>